<h1>Audiogara recommends you music torrents based on your taste</h1>

<%= form_for @user do |f| -%>
  <%= f.label :lasfm_username, "Enter your Last.fm username:" %>
  <%= f.text_field :lastfm_username %>

  <%= f.submit "Show me" %>
<% end -%>
