<% content_for :head do -%>
<script>
  setTimeout('document.location=document.location', 180000);
</script>
<% end -%>

<h2>Welcome aboard, <%= @user.lastfm_username %>.</h2>

<p>We are now learning what kinds of music you like.
This usually takes about two or three minutes.</p>

<p>This page will automatically refresh when it's done, so you can kick back and relax until then.</p>
