<% if current_user == @user -%>
  <h2>Hi <%= @user.lastfm_username %>!</h2>
<% else -%>
  <h2><%= @user.lastfm_username %></h2>
<% end -%>

<p>Here's what we recommend:</p>

<ul id="recommendedTorrents">
  <%= render :partial => "torrents/torrent", :collection => @interesting_torrents %>
</ul>

<% if current_user == @user -%>
  <small>Wanna be somebody else? <%= link_to("Sign out", signout_user_path(@user)) %></small>
<% end -%>
