<h2>Hi <%= @user.lastfm_username %>!</h2>

<small>Wanna be somebody else? <%= link_to("Sign out", signout_user_path(@user)) %></small>

<p>Here's what we recommend:</p>

<ul id="recommendedTorrents">
  <%= render :partial => "torrents/torrent", :collection => @interesting_torrents %>
</ul>
