<li class="torrent">
  <h3>
    <% if torrent.artist.present? -%>
      <%= link_to(torrent.artist.name, torrent.artist) %>
    <% else -%>
      <%= torrent.artist_name.titleize %>
    <% end -%>
    - <%= torrent.album_name.titleize %>
  </h3>

  <%= render :partial => "torrents/details", :object => torrent %>
</li>
